**/.DS_Store

cache/*
!cache/.gitkeep

data/train_lines/*
!data/train_lines/.gitkeep

data/train_colored/*
!data/train_colored/.gitkeep

data/in_lines/*
!data/in_lines/.gitkeep

data/in_filled/*
!data/in_filled/.gitkeep

output/out_full/*
!output/out_full/.gitkeep

output/out_fills_only/*
!output/out_fills_only/.gitkeep
